{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="max-age=604800" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CaramelDye</title>
    <link href="{% static 'images/logito.png' %}" rel="shortcut icon" type="image/x-icon">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'fonts/fontawesome/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/ui.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet" media="only screen and (max-width: 1200px)" />
    <link href="{% static 'css/custom.css' %}" rel="stylesheet" type="text/css"/>
</head>
<body>

    <!-- navbar -->
    {% include 'includes/navbar.html' %}

    {% block content %}
    <!-- content -->
    {% endblock %}

    <!-- footer -->
    {% include 'includes/footer.html' %}

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" defer></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}" defer></script>
    <script src="{% static 'js/script.js' %}" defer></script>
    <script src="https://www.paypal.com/sdk/js?client-id=AVBSMqNtoZ1IUO6lrSe6-vm9AIV1ZKN8CgXu_nINRs80xELRs650mh3yR62groIUg-GCe59Od_EFOG6O&currency=USD" defer></script>

    <script type="text/javascript">
    $(document).ready(function() {
        // jQuery code
    });
    </script>

<script async src='https://d2mpatx37cqexb.cloudfront.net/delightchat-whatsapp-widget/embeds/embed.min.js'></script>
        <script>
          var wa_btnSetting = {"btnColor":"#9e0059","ctaText":"","cornerRadius":40,"marginBottom":20,"marginLeft":20,"marginRight":20,"btnPosition":"right","whatsAppNumber":"573053111031","welcomeMessage":"","zIndex":999999,"btnColorScheme":"light"};
          var wa_widgetSetting = {"title":"CaramelDye","subTitle":"","headerBackgroundColor":"#9e0059","headerColorScheme":"light","greetingText":"¡¡Que tal broki!! Bienvenido a CaramelDye, ¿En qué puedo ayudarte hoy?\"","ctaText":"Escribenos :)","btnColor":"#1A1A1A","cornerRadius":40,"welcomeMessage":"Hello","btnColorScheme":"light","brandImage":"https://carameldye.blob.core.windows.net/carameldye/default-user.png","darkHeaderColorScheme":{"title":"#333333","subTitle":"#4F4F4F"}};  
          window.onload = () => {
            _waEmbed(wa_btnSetting, wa_widgetSetting);
          };
        </script>
      

</body>
</html>
